body{
    margin: 0px;
    overflow-x: hidden;
}

#top-header .container-fluid{
    width: 100%;
    padding: 0px;
/*    position: fixed*/
}
/*.navbar-header{
        width:30%;
    height: 113px;
}*/
.navbar-default .navbar-nav > li > a {
    color: black;
    font-weight: bold;
    font-size: 21px;
   font-family: 'Nunito', sans-serif;
    text-align: center;
    
}
.nav>li{
        margin-right: 50px;
}

.navbar-default{
    background-color: #ffffff;
    border-color: transparent;
    box-shadow: 0px 10px 15px grey;
    height: 100px;
}
.navbar-right {
    margin-top: 20px;
    margin-right: 50px;
}
.navbar-default .navbar-toggle {
    margin-top: 20px;
}
.nav .navbar-header img{
    width: 245px;
    height: 1%;
    vertical-align: top;
}
/*#top-header .container-fluid .header ul li {
    display: inline-block;
    list-style: none;
    padding:0px 35px;
    font-size: 21px;
    font-weight: 600;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


#top-header .container-fluid .header ul li a{
    color: #000;
    padding: 0px;
    background-color: transparent;
}
#top-header .container-fluid .header ul li a:hover{
    background-color: transparent;
}

#top-header .container-fluid .header ul li:focus{
    background-color: transparent;
}
#top-header .container-fluid .header ul {
   padding-left: 102px;
}
#top-header .container-fluid .header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color:#000;
    z-index: 1000;
    height: 100px;
    vertical-align: middle;
    overflow: hidden;
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    transition: 0.2s;
    text-align:center;
    line-height:160px;


}*/
/*
.addclass.shrink {
    line-height:100px;
    background: #fff;
    box-shadow: 2px 7px 4px grey;
}
*/

/*this is the hover effect of header*/

ul li a:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 10px; 
  bottom: 0;
  left: 0; 
  background-color:#24CBD3;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

ul li a:hover:before{
   visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*this is the hover effect of header ending*/

/*banner*/
.display{
    background-attachment: fixed;
    width: 100%;
    margin-top: 100px;
}

.display .banner{
    width: 100%;
    height: 660px;
    
}

/*
.navbar-default .navbar-collapse{
        box-shadow: 2px 4px 30px grey;
}
*/

.display .banner img{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 25;
}

.responsive_img{
    display: none;
    
}
.display .text  {
    position: absolute;
    top:50%;
    text-align: center;
    left: 10%;
    z-index: 55;
}

.text h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end forwards;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}


.display .text h1 {
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Merriweather', serif;
    letter-spacing: 12px;
}
.display .text p{
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    font-style: italic;
}

.up_img{
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 650px;
    z-index: 555;
}

.up_img img{
    width: 100%;
    height: 100%;
    transition: 2s;
}


.up_img img:hover{
    transform: translateY(-20px);
}
#our_services{
    background-color: #fff;
    position: relative;
    min-height: 750px;
}

.scrl{
     margin-top: -100px;
    padding-top: 100px;
}

.top_text h1{
    color: #45CEBE;
    text-transform: uppercase;
    font-weight: 600;
    font-size:33px;
    left: 40%;
    margin: 20px 0px ;
    padding: 20px;
    position: absolute;
    text-align: center;
}
.top_text p{
    text-transform: uppercase;
     font-weight: 600; 
    font-size: 20px;
    left: 3%;
    margin: 69px 0px;
/*    font-style: italic;*/
    padding: 20px;
    position: absolute;
    font-family: 'Asap', sans-serif;
    text-align: center;
    word-spacing: 2px;
        color: #0c9797;
}


.boxes h2{
    color: #fff;
    font-size: 25px;
    font-weight:600;
    padding-bottom: 10px;
    margin: 5px 10px;
    border-bottom: 1.5px solid #fff;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}

.boxes img{
    width: 195px;
    margin: 25px 31px;
    height: 149px;
}
.box1{
    
    position: absolute;
    margin-top: 155px;
    left: 5%;
    transition: 1s;
    background-color:  #02776c;
    border-radius: 40px;
    height: 308px;
}

.box2{
    position: absolute;
    left: 30%;
    transition: 1s;
    margin-top: 155px;
    background-color:  #02776c;
    border-radius: 40px;
    height: 308px;
}
.box3{
    position: absolute;
    left: 55%;
    transition: 1s;
    margin-top: 155px;
    background-color:  #02776c;
    border-radius: 40px;
    height: 308px;
}

.box4 h2{
    padding-bottom: 37px;
}
.box4{
    position: absolute;
    left: 80%;
    transition: 1s;
    margin-top: 155px;
    background-color: #02776c;
    border-radius: 40px;
    height: 308px;
}
.box5{
    position: absolute;
    left: 18%;
    top: 490px;
    transition: 1s;
    background-color: #45CEBE;
    border-radius: 40px;
    height: 308px;
}
.box6{
    position: absolute;
    left: 43%;
    transition: 1s;
    top: 490px;
    background-color: #45CEBE;
    border-radius: 40px;
    height: 308px;
}
.box7{
    left: 69%;
    top: 490px;
    transition: 1s;
    position: absolute;
    background-color: #45CEBE;
    border-radius: 40px;
    height: 308px;
}
.hvr:hover{
    z-index: 1;
    transform: scale(1.1,1.1);
}




#work{
    margin-top: 100px;
    width: 100%;
    height: 3100px;
    position: relative;
    background-color: #3F4446;
}

.work_head h1{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    color: #24e2cb; 
    margin: 0px;
    text-transform: capitalize;
    text-shadow: 2px 1px 5px rgba(32, 244, 218, 0.52); 
}

.work_bg_img img{
    position: absolute;
}

.plane img{
    top: 5.5%;
    left: 41.8%;
    width: 135px;}


.img1 img{
       width: 37%;
    right: 276px;
    top: 302px;
}

.img2 img{
   top: 780px;
    right: 159px; 
}

.img3 img{
   top: 1215px;
    left: 251px;    
}

.img4 img{
    top: 1724px;
    left: 301px;
}

.img5 img{
    top: 2150px;
    left: 260px;
}



.meeting{
    position: absolute;
    right: 100px;
    top: 432px;
}
.meeting img{
    padding: 10px;
    border: 15px dotted red;
}
.desc{
    text-align: center;
    color: white;
    width: 770px;
    height: 300px;
    position: absolute;
    top: 457px;
    left: 90px
}


.desc h3{
    margin-left: 10px;
    font-size: 70px;
    color:#da251d;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.desc p{
    font-size: 30px;
    width: 100%;
    text-align: center;
}

.plandes{
    top: 890px;
    left: 610px;
}
.cd img{
    height: 342px;
    padding: 10px;
    border: 15px dotted red;
    border-radius: 50%;
    width: 340px;
}
.planing{
    position: absolute;
    left: 176px;
    top: 860px;
}
.design{
    position: absolute;
    right: 50px;
    top: 1380px;
}
.designdes{
    top: 1400px;
    left: 100px;
}
.testing{
    position: absolute;
    left: 210px;
    top: 1803px;
}
.testdes{
    top: 1820px;
    left: 610px;
}
.go_live{
    bottom: 370px;
    left: 340px;
    position: absolute;
}

.livedes{
    left: 357px;
    top: 2449px;
}

.go_live img{
    border: 0px;
    border-radius: 0%;
}

.go_live .col-sm-3:first-child{
     position:absolute;
    top: 105px;
    left: 0px;
    z-index: 3;
}

.go_live .col-sm-3:nth-child(2){
    position: absolute;
    top: 0px;
    left: 138px;
}

.go_live .col-sm-3:nth-child(3){
    position: absolute;
    top: 142px;
    left: 455px;
}

.go_live .col-sm-3:nth-child(4){
    position: absolute;
    top: 178px;
    left: 523px;
}

.go_live .col-sm-3:first-child img{
    width: 368px;
    height: 260px;
    transition: 2s;   
    overflow: hidden;
}
.go_live .col-sm-3:first-child img:hover{
    transform: scale(1.3,1.3);
}
.go_live .col-sm-3:nth-child(2) img{
    width: 428px;
    height: 360px;
    transition: 2s;
    overflow: hidden;
}
.go_live .col-sm-3:nth-child(2) img:hover{
    transform: scale(1.1,1.1);
    
}


.go_live .col-sm-3:nth-child(2):hover{
    z-index: 656;
}

.go_live .col-sm-3:nth-child(3):hover{
    z-index: 50;
}
.go_live .col-sm-3:nth-child(3) img{
    width: 150px;
    height: 212px;
    transition: 2s;
    overflow: hidden;
    
}
.go_live .col-sm-3:nth-child(3) img:hover{
    transform: scale(1.4,1.4);
}
.go_live .col-sm-3:nth-child(4) img{
        
    width: 185px;
    height: 180px;
    transition: 2s;
}

.go_live .col-sm-3:nth-child(4) img:hover{
    transform: scale(1.5,1.5);

}


footer{
    position: relative;
    background-color: #009687;
    height: 550px;
}

footer .iphone{
    height:600px;
    width: 45%;
    position: absolute;
    left: 10%;
    top: 5%;
}



footer .iphone img{
    height:100%;
    width: 100%
}


.msg-mine{
    height: 20px;
    width:2%;
    position: absolute;
    left: 40.8%;
    bottom: 29%;
}

.msg-mine img{
    width: 100%;
    height: 100%;
}

.query{
    position: absolute;
    width: 18%;
    top: 30%;
    left: 23%;
    background-color: #DEF2CE;
    border-radius: 10px; 
}

.query form p input{
    padding: 0px 3px;
    border-color: transparent;
    border: 1px;
    border-style: none;
    border-color: darkred;
    border-bottom-style:inset;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: darkred;
    background-color: #DEF2CE;
}

.query form p input:focus{
    outline: none;
}

.query form p{
    
    font-family: 'Playfair Display', serif;
    line-height: 35px;
}

#txt_name{
    width: 148px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#txt_inquire{
    padding: 0px 3px;
    border-color: transparent;
    border: 1px;
    border-style: none;
    border-bottom-style:inset;
    border-color: darkred;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    color: darkred;
    resize: none;
    overflow: hidden;
}

textarea{
    background-color: #DEF2CE;
}


#txt_inquire:focus { 
    outline: none !important;
    border-color: #719ECE;
}

.send{
    background-color: rgba(9,35,37,0.5);
      width: 20%;
    position: absolute;
    height: 32px;
    top: 518px;
    left: 22.5%;
}

.send button{
   background-color:transparent;
position: absolute;
/*    left: 40%;*/
    width: 100%;
    border: none;
    top:20%;
    font-style: italic;
    font-weight: bolder;
}




.rtside{
    position: absolute;
    width: 43%;
    height: 550px;
    right: 31%;
    background-color: rgba(200,200,200,0.6);
    padding: 5% 5% 0%;
}
.rtside .contUs h2{
  font-weight: bold; 
    color: #3f4446;
    font-size: 36px;
    text-align: center;
}
.rtside .contUs p{
        margin-top: 12px;
    font-size: 18px;
    letter-spacing: -1px;
    text-align: center;
        font-weight: bold;
    font-family: 'PT Serif', serif;
    

}
.rtside .contNo ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.rtside .contNo li{
    list-style: none;
  
}
.rtside .contNo li a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.rtside .contNo li:nth-child(1) a span {
        font-size: 20px;
    margin-left: 10px;

}
.rtside .contNo li:nth-child(2) a span {
        font-size: 20px;
    margin-left: 40px;

}

.followUS{
  position: absolute; 
}
.followUs h2{
    text-align: center;
    color: #3f4446;
      font-weight: bold; 
    font-size: 30px;
}
.followUs li{
    width:50px;
    height: 55%;
    list-style: none;
    display: inline-block;
    overflow: hidden;
}

.followUs li img{
    width: 100px;
    height: 100%;
    transition: 0.2s;
}

.fandI{
    position: absolute;
    left: 35%;
}

.followUs li:hover img{
    transform: translateX(-50px);
}

.z{
    z-index: 2;
}




.footer-bottom{
    position: absolute;
    background-color: darkslategrey;
    width: 100%;
    bottom: -80px;
    height: 86px;
}

.cpyright{
    position: absolute;
    left: 41%;
    color: #fff;
}

.cpyright p{
    text-align: center;
}
/*responsive for tablet*/
@media only screen
    and (min-width:768px) 
    and (max-width:900px){
        .navbar-default .navbar-collapse{
            margin-right: 0px;
        }
        .navbar-default .navbar-nav > li > a {
            font-size: 15px;
        }
        .nav>li{
            margin-right: 0px;
        }
    #top-header .container-fluid .header .logo {
    width: 134%;
    height: 113px;
   }    
        
     #top-header .container-fluid .header ul {
    padding-left: 30px;
    }
        #top-header .container-fluid .header ul li{
            font-size: 17px;
            padding: 0px 17px;
        }
        
        .display .text {
    top: 64%;
    left: 1%;
}
    .display .text h1 {
           color: #fff;
            font-size: 53px;
        }
        .display .text p {
    font-size: 19px;
}
        .up_img {
   bottom: -15%;
     left: 48%;   
}
    .top_text h1 {
    font-size: 31px;
    left: 35%; 
        }
    
    .top_text p {
    font-size: 17px;
    left: 0%;
        }
        
        /*our services*/
     
        .boxes h2 {
    font-size: 21px;
        }
        
        .boxes img {
    width: 120px;
    margin: 18px 25px;
    height: 120px;
}
           .box1 {
    left: 3%;
    height: 238px;
        }
        .box2 {
    height: 238px;        
    left: 28%;
        }
          .box3 {
    height: 238px;        
    left: 53%;
        }
          .box4 {
    height: 238px;        
    left: 77%;
        }
        .box5{
        left: 15%;
        height: 238px;
        top: 465px;
        } 
         .box6{
        left: 40%;
        height: 238px;
        top: 465px;
        } 
         .box7{
        left: 65%;
        height: 238px;
        top: 465px;
        } 
        
        /*how we work*/
        .work_head h1 {
    font-size: 43px;
        }
        .plane img {
    top: 221px;
    left: 34%;
    width: 120px;
   }
        .img1 img {
    right: 118px;
    top: 325px;
    width: 48%;
}
   .cd img {
    height: 258px;
    width: 258px;
}
        .meeting {
    right: 15px;
    top: 413px;
}
        .img2 img {
    top: 667px;
    right: 47px;
    width: 86%;
}
 
   .planing {
    position: absolute;
    left: 4px;
    top: 718px;
}
     .img3 img {
    top: 975px;
    left: 86px;
    width: 79%;
}
    .design {
    right: 9px;
    top: 1075px;
}
   .img4 img {
    top: 1335px;
    left: 43px;
    width: 84%;
}
  .testing {
    position: absolute;
    left: 10px;
    top: 1379px;
}
     .img5 img {
    top: 1636px;
    left: 81px;
    width: 58%;
}
     .livedes {
    left: 37px;
    top: 1836px;
}
        .desc h3 {
    font-size: 42px;
    margin-bottom: 5px;
        }
        .desc {
    width: 462px;
    height: 211px;
    top: 457px;
    left: 8px;
}
        .desc p {
    font-size: 18px;
    width: 100%;
}
    .plandes {
    top: 760px;
    left: 265px;
}
        .designdes {
    top: 1094px;
    left: 18px;
}
        .testdes {
    top: 1426px;
    left: 287px;
}
        .livedes {
    left: 197px;
    top: 1850px;
}
        .go_live {
   bottom: 408px;
    left: 52px;
    position: absolute;
}
        #work {
    height: 2451px;
        }
        
        /*footer phone*/
        footer .iphone {
    height: 482px;
    width: 59%;
    left: -1%;
    top: 5%;
}
       .query {
    width: 25%;
    top: 23%;
    left: 16%;
    height: 53%;
}
      
.query form p {
    font-size: 14px;
    padding: 0px;
}
    .query form p input:nth-child(1) {
        width: 99px;
        height: 13px;
}
.query form p input:nth-child(2) {
   width: 122px;
   height: 13px;     
        }
      .msg-mine {
    height: 20px;
    width: 2%;
    left: 40.0%;
    bottom: 30%;
}
        .send {
    width: 26%;
    height: 27px;
    top: 421px;
    left: 15.5%;
}
        .rtside {
            height: 450px;
        }
    .rtside .contUs h2 {
    font-size: 33px;
}
    .rtside .contNo li a {
    font-size: 26px;
}
 .rtside .contNo li:nth-child(1) a span {
    font-size: 18px;
}
 .rtside .contNo li:nth-child(2) a span {
    font-size: 18px;
    margin-left: 29px;
}
    .followUs h2 {
    margin-top: 0px;
}    
        .followUs ul{
            padding: 0px;
        }
        footer {
            height: 515px;
        }
        .footer-bottom {
    bottom: -20px;
        }
        .cpyright {
    left: 42%;
}
        .footer-bottom .copyright h3{
            font-size: 20px;
        }
        .cpyright p {
    font-size: 12px;
}
}

@media only screen
    and (min-width:901px) 
    and (max-width:992px){
                        .navbar-default .navbar-collapse{
            margin-right: 0px;
        }
        .navbar-default .navbar-nav > li > a {
            font-size: 17px;
        }
        .nav>li{
            margin-right: 0px;
        }
 /*     #top-header .container-fluid .header .logo {
    width: 120%;
    height: 113px;
    }
#top-header .container-fluid .header ul {
    padding-left: 30px;
}
    #top-header .container-fluid .header ul li {
    padding: 0px 22px;
    font-size: 19px;
        }*/
        .navbar-default .navbar-nav > li > a {
    color: black;
    font-weight: 500;
    font-size: 20px;
   font-family: 'Spectral', serif;
}
         .display .text h1 {
    font-size: 55px;
         }
     .display .text {
    left: 1%;
         top: 60%;
        }
        .up_img {
   bottom: -15%;
    left: 50%;
}
        .top_text h1 {
    font-size: 32px;
    left: 37%;
        }
        .top_text p {
    font-size: 18px;
    left: 2%;
        }
        

        
        
        /*our services*/
        
            .boxes h2 {
    font-size: 23px;
        }
        
        .boxes img {
    width: 145px;
    margin: 18px 25px;
    height: 120px;
}
           .box1 {
    left: 2.5%;
    height: 248px;
        }
        .box2 {
    height: 248px;        
    left: 27.5%;
        }
          .box3 {
    height: 248px;        
    left: 52.5%;
        }
          .box4 {
    height: 248px;        
    left: 76.5%;
        }
        .box5{
        left: 14.5%;
        height: 248px;
        top: 474px;
        } 
         .box6{
        left: 39.5%;
        height: 248px;
        top: 474px;
        } 
         .box7{
        left: 64.5%;
        height: 248px;
        top: 474px;
        } 
        /*how we work*/
               .work_head h1 {
    font-size: 43px;
        }
        .plane img {
    top: 221px;
    left: 37%;
    width: 120px;
   }
        .img1 img {
    right: 118px;
    top: 325px;
    width: 48%;
}
   .cd img {
    height: 258px;
    width: 258px;
}
        .meeting {
    right: 15px;
    top: 413px;
}
        .img2 img {
    top: 667px;
    right: 47px;
    width: 86%;
}
 
   .planing {
    position: absolute;
    left: 4px;
    top: 718px;
}
     .img3 img {
    top: 975px;
    left: 86px;
    width: 79%;
}
    .design {
    right: 9px;
    top: 1075px;
}
   .img4 img {
    top: 1335px;
    left: 43px;
    width: 84%;
}
  .testing {
    position: absolute;
    left: 10px;
    top: 1379px;
}
     .img5 img {
    top: 1636px;
    left: 81px;
    width: 58%;
}
     .livedes {
    left: 37px;
    top: 1836px;
}
        .desc h3 {
    font-size: 44px;
    margin-bottom: 5px;
        }
        .desc {
    width: 462px;
    height: 211px;
    top: 457px;
    left: 65px;
}
        .desc p {
    font-size: 20px;
    width: 100%;
}
    .plandes {
    top: 760px;
    left: 320px;
}
        .designdes {
    top: 1094px;
    left: 18px;
}
        .testdes {
    top: 1426px;
    left: 320px;
}
  .livedes {
    left: 310px;
    top: 1910px;
}
        .go_live {
   bottom: 420px;
   left: 176px;
    position: absolute;
}
        #work {
    height: 2550px;
        }
        
        /*footer phone*/
               footer .iphone {
    height: 482px;
    width: 59%;
    left: -1%;
    top: 5%;
}
       .query {
    width: 25%;
    top: 24%;
    left: 16%;
    height: 57%;
}
      
.query form p {
    font-size: 14px;
    padding: 0px;
}
    .query form p input:nth-child(1) {
        width: 99px;
        height: 13px;
}
.query form p input:nth-child(2) {
   width: 122px;
   height: 13px;     
        }
      .msg-mine {
    height: 20px;
    width: 2%;
    left: 40.0%;
    bottom: 30%;
}
        .send {
    width: 26%;
    height: 27px;
    top: 421px;
    left: 15.5%;
}
        .rtside {
            height: 450px;
        }
    .rtside .contUs h2 {
    font-size: 33px;
}
    .rtside .contNo li a {
    font-size: 30px;
}
 .rtside .contNo li:nth-child(1) a span {
    font-size: 21px;
}
 .rtside .contNo li:nth-child(2) a span {
    font-size: 21px;
    margin-left: 29px;
}
    .followUs h2 {
    margin-top: 0px;
}    
        .followUs ul{
            padding: 0px;
        }
        footer {
            height: 515px;
        }
        .footer-bottom {
    bottom: -20px;
        }
        .cpyright {
    left: 44%;
}
        .footer-bottom .copyright h3{
            font-size: 20px;
        }
        .cpyright p {
    font-size: 12px;
}
        }
@media only screen
and (min-width:992px)
and (max-width:1280px){
                    .navbar-default .navbar-collapse{
            margin-right: 0px;
        }
        .navbar-default .navbar-nav > li > a {
            font-size: 17px;
        }
        .nav>li{
            margin-right: 0px;
        }
    
  /*  #top-header .container-fluid .header .logo{
        width: 100%;
        height: 113px;
        }
   #top-header .container-fluid .header ul li {
    padding: 0px 24px;
    font-size: 20px;
        }*/
    .navbar-default .navbar-nav > li > a {
    color: black;
    font-weight: 400;
    font-size: 22px;
   font-family: 'Spectral', serif;
}
 .display .text {
    position: absolute;
    top: 60%;
    left: 5%;
        }
    .up_img{
    bottom: -16%;
    left: 50%;
    }
    .boxes{
        width: 100%;
        margin-left: 2%;
    }
    .boxes img{
    width: 193px;
    margin: 5% 8%;
    height: 130px;
    margin-left: 2%;    
}
    .plane img {
    top: 6%;
    left: 44%;
    width: 100px;
}
   .img1 img{
    right: 14%;
    top: 285px;
    width: 41%;
}
    .meeting{
    right: 2%;
    top: 413px;
}

    .desc{
    left: 3%;
}


.desc h3{
    font-size: 60px;
}
.desc p{
    font-size: 26px;
}

.img2 img{
   top: 769px;
right: 10%;
width: 78%;
}
    
.planing{
    left: 2%;
    top: 850px;
}    

.plandes{
    top: 890px;
    left: 35%;
}
    
    
.img3 img{
 top: 1206px;
left: 13%;
width: 74%;
    }
.design{
    right: 2%;
    top: 1360px;
}
    
.designdes{
    top: 1370px;
    left: 1%;
}    
    
.img4 img{
    top: 1724px;
    left: 13%;
    width: 74%;
}

.testing{
    left: 2%;
    top: 1803px;
}    

.testdes{
    top: 1820px;
    left: 35%;
}
    
.img5 img{
    top: 2154px;
    left: 13%;
    width: 43%;
}
    
.livedes{
    left: 17%;
    top: 2449px;
}

    .go_live{
        left: 20%;
    }
    
    footer .iphone{
    height:600px;
    width: 48%;
    left: 7%;
}
    
    .query{
    width: 19%;
    top: 30%;
    left: 21%;
}
    .msg-mine{
    left: 39.8%;
    bottom: 30%;
}
    .box1 {
        left: 3%;
    } 
    .box2 {
        left: 28%;
    } 
    .box3 {
        left: 53%;
    }
    .box4 {
        left: 78%;
    } 
    .box5 {
        left: 16%;
    } 
    .box6 {
        left: 41%;
    } 
    .box7 {
        left: 67%;
    }
    .cpyright{
        left: 40;
    }
    
}

@media only screen
and (min-width:992px)
and (max-width:1167px){
    .desc{
     width: 641px;
    }
}


/*this is the media quiries of mobile view hardcipher*/

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px){
    .responsive_img{
        -webkit-display:block !important;
        display: block;
        
    }
    .responsive_img img{
        -webkit-border-radius:100% !important;
        border-radius: 100%;
    }
   #top-header .container-fluid .header .logo{
    -webkit-width: 100% !important;
    -webkit-height: 113px !important;
    width: 100% !important;
    height: 113px !important;
    }
    #top-header .container-fluid .header .col-sm-3 {
    -webkit-width: 75% !important;
    width: 75% !important;
}

    #top-header .container-fluid .header .logo img{    
    -webkit-width: 100% !important;
    -webkit-height: 100% !important;    
    width: 100%;
    height: 100%;
/*    vertical-align: top;*/
    } 

    #top-header .container-fluid .header ul{
        -webkit-display: none !important;
        display: none;
    }
    
    .hvr:hover{
    -webkit-transform: scale(1,1) !important;
    transform: scale(1,1);
}
    
    .menu-btn {
    -webkit-display: block!important;
    -webkit-left: 80% !important;    
    -webkit-top: -62px !important;    
    display: block;
    left: 80%;
    top: -62px;

    }
    #top-header .container-fluid .header .col-sm-3{
        -webkit-width: 25% !important;
        width: 25%;
    }
    
    .box1{
    -webkit-top: 145px !important;
    -webkit-left: 10% !important;    
    top: 145px;
    left: 10%;

    }
    .box2{
        -webkit-left: 51% !important;
        -webkit-top: 145px !important;
        left: 51%;
        top: 145px;
    }
    .box3{
        -webkit-left: 10% !important;
        -webkit-top: 464px !important;
        left: 10%;
        top: 464px;
    }
    
    .box4{
        -webkit-left: 50% !important;
        -webkit-top: 464px !important;
        left: 50%;
        top: 464px;
    }
    .box5{
    -webkit-left: 10% !important;
    -webkit-top: 940px !important;
    left: 10%;
    top: 940px;

    }
    .box6{
    -webkit-left: 50% !important;
    -webkit-top: 940px !important;
    left: 50%;
    top: 940px;

    }
    
    .box7{
        -webkit-left: 28% !important;
        -webkit-top: 1260px !important;
        -webkit-height: 300px !important;
        left: 28%;
        top: 1260px;
        height: 300px;
    }
    #our_services{
        min-height: 1460px;
        margin-left: -20px;
    }
    
    .display .text h1{
        font-size: 50px;
    }
    .up_img{
        bottom: 5%;
        display: none;
        
    }
    .top_text p{
        margin: 39px 0px;
    }
    
    .top_text h1{
        margin: 0px;
        padding: 10px 0px;
        left: 28%;
        font-size: 38px;
    }
    
    .work_bg_img img{
        display: none;
    }
    .meeting{
    left: 30%;
    top: 179px;

    }
    
    .main_image img{
        border: 0px;
    }
    .desc{
    width: 400px;
    top: 507px;
    left: 22%;
    
    }
    
    .plandes{
        top: 1177px;
        left: 22%;
    }
    
    .design{
        top: 1652px;
        left: 30%;
    }
    .designdes{
        top: 1974px;
        left: 22%;
    }
    .designdes h3{
        font-size: 40px;
    } 
    .testing{
        top: 2321px;
        left: 30%;
    }
    .testdes{
        top: 2638px;
        left: 22%;
    }
    .livedes{
        top: 3250px;
        left: 22%;
    }
    
    .go_live{
        top: 3209px;
        left: 10%;
    }
    
    .go_live .col-sm-3 img{
        display: none;
    }
    
    #work{
        height: 3700px;
    }
    
    #footer .lfside{
        display: none;
    }
    
    #footer .rtside{
        width: 93%;
        right: 3%;
    }
    
    .fandI {
    position: absolute;
    left: 30%;
}
    
    .cpyright{
        left: 40%;
    }
    .go_live .col-sm-3{
        display: none;
    }
    .navbar-right{
         margin-left: 20%;
    }
    .navbar-default .navbar-collapse{
        background-color: #fff;
    }

}
@media only screen 
and (min-device-width : 540px) 
and (max-device-width : 630px){
    .responsive_img{
        display: block;
        
    }
    .responsive_img img{
        border-radius: 100%;
    }
    
    .box1{
        left: 5%;
    }
    .box2{
        left: 50%;
    }
    .box3{
        left: 5%;
    }
    .box4{
        left: 50%;
    }
    .box5{
        left: 5%;
    }
    .box6{
        left: 50%;
    }
    .box7{
        left: 25%;
    }
    }

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 540px){
    .responsive_img{
        display: block;
        
    }
    .responsive_img img{
        border-radius: 100%;
    }
    
    
    .display .banner {
    width: 100%;
    height: 480px;
    }
    
    .display .text h1{
        font-size: 30px;
    } 
    
    .up_img{
        bottom: 5%;  
    }
    
    .top_text h1{
        font-size: 28px;
    }
    .top_text p{
        margin: 39px 0px;
        font-size: 16px;
     }
    
    .box1{
        left: 20%;
    }
    .box2{
        left: 20%;
        top: 456px;
    }
    .box3{
    left: 20%;
    top: 766px;
    }
    .box4{
        left: 20%;
        top: 1076px;
    }
    
    .box5{
        left: 20%;
        top: 1542px;
    }
    .box6{
        left: 20%;
        top: 1852px;
    }
    .box7{
        left: 20%;
        top: 2162px;
    }
    #our_services{
        min-height: 2472px;
    }
    
    .main_image .cd{
        left: 10%;
    }
    
    
    .desc{
    width: 400px;
    top: 507px;
    left: 8%;
    
    }
    
    .desc p{
        font-size: 20px;
    }
    .desc h3{
        font-size: 30px;
    }
     .plandes{
        top: 1100px!important;
        left: 8%;
    }
    
    .designdes{
        top: 1700px!important;
        left: 8%;
    }
    
    .designdes h3{
        font-size: 30px;
    }
    .testing{
        top: 1900px;
/*        left: 30%;*/
    }
    .testdes{
        top: 2238px!important;
        left: 8%;
    }
    
    .livedes{
        top: 2550px!important;
        left: 8%;
    }
    
    .planing{
        top: 750px;
    }
    
    .design{
        top: 1350px;
    }
    
    #work{
        height: 2800px;
    }
    
    .cpyright{
        left: 20%;
    }
    .rtside {
    width: 100%;
}
.rtside {
    position: absolute;
    width: 43%;
    height: 550px;
    right: 0%;
    background-color: rgba(200,200,200,0.6);
    padding: 5% 5% 0%;
}
  
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 430px){
    .responsive_img{
        display: block;
        
    }
    .responsive_img img{
        border-radius: 100%;
    }
    
    
    .display .text {
    position: absolute;
    top: 37%;
    text-align: center;
    left: 0%;
        z-index: 55;
    }
    .display .text h1{
        font-size: 22px;
    }
    
    .desc p{
        line-height: 20px;
    }
    
    .display .text p{
        margin-top: 30px;
        font-size: 15px;
    }
    
    .up_img{
        bottom: 10%;
        
    }
    
    .main_image .cd{
        left: 3%;
    }
    
    .desc{
    width: 250px;
    top: 507px;
    left: 8%;
    }
    
    .designdes h3{
        margin-bottom: 0px;
    }
    .rtside {
    width: 100%;
}
.rtside {
    position: absolute;
    width: 43%;
    height: 550px;
    right: 0%;
    background-color: rgba(200,200,200,0.6);
    padding: 5% 5% 0%;
}
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 350px){
     .main_image .cd{
        left: 3%;
    }   
    
     .rtside {
    width: 100%;
}
    
    .cd img{
        width: 290px;
    }
    
    .work_head h1{
        font-size: 40px;
    }
    
    .responsive_img{
        display: block;
        
    }
    .responsive_img img{
        border-radius: 100%;
    }
}

/*menu bar*/
#main-navigation ul {
    margin: 0px;
    padding: 40px 0px 0px;
    list-style: none;
    position: relative;
}
#main-navigation ul li {
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
    display: inline-block;
    margin: 0px 10px;
}
#main-navigation ul li a {
    color: #fff;
    text-decoration: none;
}

.menu-btn {
    border: none;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 50px;
    cursor: pointer;
    pointer-events: none;
}
.menu-btn .line {
    display: block;
    border: 2px solid red;
    margin-bottom: 3px;
    width: 30px;
    transition: 0.6s;
}
input[value="open_nav"] {
    position: absolute;
    height: 10px;
    width: 38px;
    cursor: pointer;
    right: 20px;
    top: 50px;
    display: none;
}
@media (max-width: 992px) {
    #main-navigation ul li {
        margin: 0px 5px;
    }
}

@media (min-width: 768px) {
    .menu-btn {
        display: none;
    }
}
@media (max-width: 767px) {
    .responsive_img{
        display: block;
        
    }
    .responsive_img img{
        border-radius: 100%;
    }
    
    .menu-btn {
        display: block;
        z-index: 100;
    }
    input[value="open_nav"] {
        display: block;
        opacity: 0;
        cursor: pointer;
        z-index: 100;
    }
    #main-navigation ul {
        /*display: none;*/
        /*transform: translateY(-120%);*/
        transform: scale(1,0);
        transform-origin: top;
        transition: 1s;
        position: absolute;
        top: 50px;
        background-color: rgba(255,255,0,0.5);
        width: 100%;
        text-align: center;
        left: 0px;
        z-index: 100;
    }
    #main-navigation ul li {
        display: block;
        margin: 0px 0px 10px;
        font-size: 20px;
        line-height: 24px;
    }
    #main-navigation ul li a {
        color: #000;
    }
    input[value="open_nav"]:checked ~ ul{
        /*display: block !important;*/
        /*transform: translateY(1%) !important;*/
        transform: scale(1,1) !important;
    }
    input[value="open_nav"]:checked ~ .menu-btn .line:nth-child(2){
        opacity: 0;
    }
    input[value="open_nav"]:checked ~ .menu-btn .line:first-child{
        transform: rotate(45deg);
        margin-top: 10px;
    }
    input[value="open_nav"]:checked ~ .menu-btn .line:last-child{
        transform: rotate(-45deg);
        margin-top: -14px;
    }
    .rtside {
    width: 100%;
}
}




@media only screen 
and (min-device-width : 541px) 
and (max-device-width : 767px){
    .up_img {
    bottom: -21%;
    left: 50%;
}
}